@import "tailwindcss";


body {
  background: linear-gradient(to bottom, #f3f4f6, #e5e7eb);
  color: var(--foreground);
  font-family: "Inter", system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom, #0f172a, #1e293b);
  }
}


.btn {
  @apply inline-block rounded-md px-4 py-2 font-medium text-sm transition duration-150 ease-in-out;
}

.btn-glass {
  @apply bg-white/20 text-white backdrop-blur shadow-md hover:bg-white/30 border border-white/30;
}

.btn-blue {
  @apply bg-blue-600 text-white hover:bg-blue-700 shadow hover:shadow-lg;
}

.form-div {
@apply max-w-3xl mx-auto;
}

.form {
  @apply bg-white dark:bg-neutral-900 p-8 rounded-xl shadow-lg border border-gray-200 dark:border-neutral-800 space-y-6;
}